footer.py-4.mt-auto
  .container.px-5
    .row.align-items-center.justify-content-between.flex-column.flex-sm-row
      .col-auto.text-start
        .small.m-0 &copy; Miftah Fentaw All Rights Reserved 2025
      
